@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

  *{
     font-family: "Quicksand";
  }
.about-us-container {
    width: 800px;
     margin: 0 auto; 
    text-align: justify;
  }
  
  /* .about-us-heading {
    font-size: 30px;
    font-weight: bolder;
    color: #333;
    margin-bottom: 20px;
  } */
  
  .about-us-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .about-us-content {
    font-size: 14px;
    margin-bottom: 20px;
  }
